# Servidor
NODE_ENV=development
PORT=3000
LOG_LEVEL=debug

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123
DB_NAME=inventario_db

# JWT
JWT_SECRET=tu_clave_secreta_aqui

# CORS
CORS_ORIGIN=http://localhost:5173